.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


body {
  background-color: #f7f7fa;
  /* min-width: 100vh; */
  overflow-x: hidden;
}

.side-bar {

  background-color: #8AE9C1;

  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 0px 15px;
  /* box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(0, 0, 0, 0.6); */
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-green {
  /* background: 0 #ebfff7; */
}

.app {
  padding: 20px 10px;
  background-color: #f7f7fa;
}

.side-bar-content {
  text-align: center;
}

.header-logo {
  /* height: 75px; */
  width: 100%;
  object-fit: contain;
}

footer {
  text-align: center;
  padding-bottom: 5px;
}

.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #010610;
  --bs-btn-border-color: #010610;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #333;
  --bs-btn-hover-border-color: #010610;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #010610;
  --bs-btn-active-border-color: #010610;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #010610;
  --bs-btn-disabled-border-color: #010610;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.btn-outline-primary {
  --bs-btn-color: #010610;
  --bs-btn-border-color: #010610;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #010610;
  --bs-btn-hover-border-color: #010610;
  --bs-btn-focus-shadow-rgb: 13, 110, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #010610;
  --bs-btn-active-border-color: #010610;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #010610;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #010610;
  --bs-gradient: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.oval-btn {
  min-width: 120px;
  border-radius: 40px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.form-control {
  border: 1px solid #c3bfbf;
  background: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.form-control:hover,
.form-control:active,
.form-control:focus {
  background: #fff !important;
  border-color: #010610;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  outline: 0 none;
}

.clipboard {
  border-color: #010610;
  /* background: #F2E863; */
}

.chat-area {
  border: 1px solid #010610;
  height: 380px;
  /* max-height: 500px; */
  border-radius: 5px;
  overflow-y: scroll;
  padding: 5px;
  /* padding-bottom: 100px; */
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #010610;
  border-radius: 10px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px #010610;
  background-color: #555;
}

.question {
  max-width: 90%;
  background-color: #010610;
  color: #fff;
  border-radius: 40px;
  margin: 10px 0px;
}



.answer {
  max-width: 90%;
  border: 1px solid #010610;
  border-radius: 40px;
  margin: 10px 0px;
}

.lock-screen {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lock-screen {
  background: url('./assets/img/lock-bg.jpg') no-repeat;
  /* Keep the inherited background full size. */
  background-attachment: fixed;
  background-size: cover;
  /* display: grid; */
}

.lock-screen-logo {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 1px solid black;
  margin: auto;
  /* padding: 50px; */
  background-color: #333;
}

.row.main {
  --bs-gutter-x: 0rem;
}


@media (max-width:480px) {
  .header-logo {
    height: 100px;
    width: 100%;
    object-fit: contain;
  }

  .question {
    max-width: 90%;
  }

  .answer {
    max-width: 90%;
  }

  .side-bar {
    /* display: none; */
    height: 200px;
  }

  .chat-area {
    padding-bottom: 0px;
  }

  .yali-area {
    padding: 0px;
  }
}

.yali-area {
  height: 440px;
  /* max-height: 500px; */
  border-radius: 5px;
  overflow-y: scroll;
  padding: 0px 50px;
  /* padding-bottom: 100px; */
  zoom: 90%
}

.yali-question {
  background-color: #010610;
  color: #fff;
  border-radius: 10px;
  margin: 10px 0px;
  padding: 10px;
}

.yali-qna-container {
  margin-bottom: 50px;
}

.yali-answer {
  border: 1px solid #010610;
  border-radius: 10px;
  margin: 10px 0px;
  padding: 10px;
}